body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* allign horizontally */
    align-items: center; /* allign vertically */
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #10121c;

}

.navLinks {
    width: 100%;
    text-align: center;
}

.navLinks a {
    color: #3388de;
    padding: 5px;
    width: 25%;
    text-decoration: none;
}

.navLinks a:hover {
    color: #3859b3;
    text-decoration: underline;
}

.navLinks a:visited {
    color: #3388de;
}

.container {
    color: #f0f0f0;;
    text-align: center;
}
